<%= form_for(form) do |f| %>
  <% if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= image_tag form.logo_url(:image_192) %>

  <%= f.label :logo %>
  <%= f.hidden_field :logo, value: form.cached_logo_data %>
  <%= f.file_field :logo %>

  <%= f.label :allowed_email_domains %>
  <%= f.text_field :allowed_email_domains %>

  <p>Allow anyone with a certain email address. For example from <code>@spaces.is</code> or <code>marketing@spaces.is</code> To allow email addresses from multiple domains, separate them with commas.</p>

  <%= link_to(t("helpers.submit.team.reset_logo"), team_logo_path, method: :delete, data: { confirm: t("helpers.confirm_delete") }) unless Image.new(form.team.logo).generated? %>

  <%= f.submit %>
<% end %>
