<main>
  <div class="card">
    <header>
      <h1>Create new team</h1>
    </header>

    <div class="card__content">

      <p>Account:</p>

      <ul class="dropdown__accounts-list">
        <li>
          <%= image_tag(@creating_user.avatar_url(:image_72), alt: @creating_user.first_name) %>

          <h3><%= @creating_user.name %></h3>
          <a><%= @creating_user.email %></a>
          <p><%= @creating_user.decorate.auth_method %>-User</p>
        </li>
      </ul>

      <%= link_to "Choose another account", new_team_choose_account_path %>

      <hr>

      <p>Team</p>

      <%= render "/login_register_funnel/teams/form", team: @team_form, url: team_url(user_id: @creating_user.id) %>

      <div class="card__actions">
        <%= link_to "Back", root_subdomain_path %>
      </div>
    </div>
  </div>
</main>
