<main>
  <div class="card">
    <header>
      <h1>Team</h1>
    </header>

    <div class="card-content">
      <%= notice %>

      <%= render "team_members", team_members: @team.members %>

      <%= link_to "Invite", invitations_path, class: "button button-primary" %>

      <% if other_available_teams.count.positive? %>
        <p>Other Available Teams</p>

        <%= render "/landing/available_teams", teams: other_available_teams %>
      <% end %>

            <script type="text/javascript">
      throw new Error('broken');
      </script>

      <div class="card-actions">
        <%= link_to "Edit", edit_team_path %> |
        <%= link_to "Destroy", team_path, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</main>
