<main>
  <div class="card">
    <header>
      <h1>Team</h1>
    </header>

    <div class="card-content">
      <%= notice %>

      <%= render 'team_members', team_members: @team.members %>

      <%= link_to 'Invite', invitations_path, class: 'button button-primary' %>

      <div class="card-actions">
        <%= link_to 'Edit', edit_team_path %> |
        <%= link_to 'Delete', team_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'New Team', new_team_path %>
      </div>
    </div>
  </div>
</main>
