<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team.name %>
</p>

<p>
  <%= link_to 'Spaces', spaces_path %>
</p>

<hr>
<%= render 'team_members', team_members: @team.members %>


<p>
<%= link_to 'Invite', invitations_path %>
</p>

<hr>

<% if false %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
<% end %>
