<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team.name %>
</p>

<p>
  <%= link_to 'Spaces', team_spaces_path(@team) %>
</p>

<%= render 'team_members', team_members: @team.team_members %>

<%= render '/invitations/form', invitation: @invitation, team: @team %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
