<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team.name %>
</p>

<p>
  <%= link_to 'Spaces', team_spaces_path(@team) %>
</p>

<hr>
<%= render 'team_members', team_members: @team.members %>


<p>
<%= link_to 'Invite', team_invitations_path(@team) %>
</p>

<hr>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
