<main>
  <div class="card">
    <header>
      <h1>Log in</h1>
    </header>

    <div class="card-content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>

        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>

        <% if devise_mapping.rememberable? -%>
          <div class="checkbox">
            <label><%= f.check_box :remember_me %> Remember me</label>
          </div>
        <% end -%>

        <%= f.submit "Log in" %>
      <% end %>

      <div class="card-actions">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</main>
