<h1 class="center">3/3</h1>

<p class="center"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/598366-200.png" width="80px" style="background-color:white" /></p>

<p class="center">Login with your email:</p>

<h1 class="center"><a><%= params[:email] || resource.email %></a></h1>


<p class="center">Please enter your password:</p>


<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "center" }) do |f| %>


    <%= f.hidden_field :email, value: params[:email] || resource.email %>


    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>

    <br>

    <%= f.submit "Log me in" %>

<% end %>

<br>
<p class="center"><%= link_to "Back", email_method_path, style: "color:grey" %></p>
