<%= form_for(form) do |f| %>
  <% if form.errors.any? %>
    <h2><%= pluralize(form.errors.count, "error") %> prohibited this space from being saved:</h2>

    <ul>
    <% form.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :cover %>
  <%= f.hidden_field :cover, value: form.cached_cover_data %>
  <%= f.file_field :cover %>

  <%= f.label :access_control %>
  <%= f.select :access_control, options_for_select([Space::AccessControl::TEAM, Space::AccessControl::PRIVATE]) %>

  <%= f.submit %>
<% end %>
