<main>
  <div class="card">
    <header>
      <h1><%= @space.name %></h1>
    </header>

    <div class="card-content">
      <%= notice %>

      <%= image_tag @space.cover_url(:image_1024) %>

      <div>
        <%= link_to "View #{@space.name}", space_pages_path(@space), class: 'button button-primary' %>

        <div class="card-actions">
          <%= link_to 'Back to Spaces', spaces_path %> | 
          <%= link_to "Edit #{@space.name}", edit_space_path(@space) %>
        </div>
      </div>
    </div>
  </div>
</main>
