<%= form_for(form) do |f| %>
  <% if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <% if @user.login_using_email? %>

    <%= f.label :email %>
    <%= f.text_field :email %>

  <% end %>

  <%= image_tag form.user.avatar_url(:image_192) %>

  <%= f.label :avatar %>
  <%= f.hidden_field :avatar, value: form.user.cached_avatar_data %>
  <%= f.file_field :avatar %>

  <%= link_to(t("helpers.submit.user.reset_avatar"), user_avatar_path, method: :delete, data: { confirm: 'Are you sure?' }) unless Image.new(form.user.avatar).generated? %>

  <%= f.submit t("helpers.submit.user.update_personal_info") %>
<% end %>
