<main>
  <div class="card">
    <header>
      <h1>Account</h1>
    </header>

    <div class="card-content">
      <%= notice %>

      <p>First name: <a><%= @user.first_name %></a></p>
      <p>Last name: <a><%= @user.last_name %></a></p>

      <p>Email: <a><%= @user.email %></a></p>

      <img src="<%= @user.avatar_url %>">

      <div class="card-actions">
        <%= link_to 'Edit', edit_user_path %>
      </div>
    </div>
  </div>
</main>
