<main>
  <div class="card">
    <header>
      <h1>Members</h1>
    </header>

    <div class="card-content">
      <%= notice %>


      <%= link_to "Make privat", space_access_control_path(@space), method: :post %>
      <%= link_to "Make public", space_access_control_path(@space), method: :delete %>

      <p>Space Users</p>
      <%= render "space_users", space_users: @space.users.decorate %>

      <%= link_to 'Continue', space_path(@space), class: 'button button-primary' %>
    </div>
  </div>
</main>
