<main>
  <div class="card">
    <header>
      <h1>Members</h1>
    </header>

    <div class="card-content">
      <%= notice %>

      <%= link_to "Make privat", space_access_control_rules_private_path(@space), method: :post %>
      <%= link_to "Make public", space_access_control_rules_team_path(@space), method: :post %>

      <p>Space Members</p>
      <%= render "space_members", space_team_members: @space_team_members,team_members: @team_members %>

      <p>Send Invitations</p>
      <%= render "invitations", invitations: @space_invitations.unused %>

      <p>Invitations</p>
      <%= link_to "Add email invitation", new_space_invitations_email_path(@space) %>

      <%= link_to "Add slack invitation", new_space_invitations_slack_path(@space) %>


      <%= link_to 'Continue', space_pages_path(@space), class: 'button button-primary' %>
    </div>
  </div>
</main>
