<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title, placeholder: 'Give your page a name' %>

  <%= f.hidden_field :parent_id %>

  <div id="page-editor" class="space-page-content"></div>

  <%= f.submit 'Done' %>
<% end %>
