<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title, placeholder: 'Give your page a name', id: "title_input" %>

  <%= f.hidden_field :parent_id %>

  <div id="page-editor" class="space-page__content"></div>

  <div class="edit-toolbar">
    <div class="five-cols-1">
      <%= link_to 'New page', space_pages_path(@page.space, params: { page: { _: true } }), method: :post, class: 'edit-toolbar__new-page' %>
    </div>

    <div class="five-cols-3">
      <div class="edit-toolbar__status"></div>
    </div>

    <div class="five-cols-1">
      <%= f.submit 'Done' %>
    </div>
  </div>
<% end %>
