<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>

  <!--
    https://images.unsplash.com/photo-1497215457980-d57c69aee12d?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=
  -->
  <div class="space-page__hero" style="background-image: url(https://images.unsplash.com/photo-1497215457980-d57c69aee12d?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);">
    <h1 contenteditable="true" placeholder="Title" id="title-input"><%= page.title %></h1>
  </div>

  <div class="space-page__meta">
    <p><%= number_of_words_to_minutes_reading(page.word_count) %> minute read. <span class="space-page__status">Updated <%= time_ago_in_words(page.updated_at) %> ago.</span></p>
  </div>

  <div id="page-editor" class="space-page__content"></div>
<% end %>
