<div class="space-page-container">
  <main class="space-page">
    <%= notice %>

    <h1><%= page.title %></h1>

    <div class="space-page-meta">
      <%= minutes_to_read_in_words(page.contents) %> minute read. Updated <%= time_ago_in_words(page.updated_at) %> ago.
    </div>

    <div class="space-page-content">
      <%= sanitize page.contents, scrubber: PageContentsScrubber.new %>
    </div>
  </main>
</div>
