<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>

  <div class="space-page__hero" style="background-image: url(https://images.unsplash.com/photo-1444927714506-8492d94b4e3d);">
    <%= f.text_field :title, placeholder: 'Add your title here...', id: "title_input", autocomplete: "off" %>

    <p><%= number_of_words_to_minutes_reading(page.word_count) %> minute read. Updated <%= time_ago_in_words(page.updated_at) %> ago.</p>
  </div>

  <div id="page-editor" class="space-page__content"></div>
<% end %>
