<aside class="space-sidebar">
  <h3><%= link_to space.name, space_pages_path(space) %></h3>

  <%= link_to(space_members_path(space), class: "avatars") do %>
    <% avatar_users.each do |user| %>
        <%= image_tag(user.avatar_url(:image_48), alt: user.name) %>
    <% end %>

    <% if show_unseen.positive? %>
        <span class="avatars-overflow">+<%= show_unseen %></span>
    <% end %>

    <span class="avatars-add"></span>
  <% end %>

  <ul class="space-sidebar-pages">
    <%= render "page_tree", page_tree: space.pages.hash_tree %>
  </ul>
</aside>
