<div class="edit-space__resize-message">
  <p>
    You need a larger browser window to edit pages.
  </p>

  <%= link_to "Back", space_pages_path(current_space), class: 'button button--primary' %>
</div>

<div class="edit-space__content clearfix">
  <!-- Table of contents for medium and large viewports -->
  <nav class="space-toc space-toc--edit">
    <h3>
      <%= link_to edit_space_path(@page.space) do %>
        <%= @page.space.name %>
        <span></span>
      <% end %>
    </h3>

    <ul class="page-tree page-tree--edit">
      <%= render "edit_page_tree", page_tree: @page.space.pages.hash_tree, current_page: @page %>
    </ul>
  </nav>

  <!-- Page content for all viewports -->
  <main class="space-page space-page--edit">
    <%= render 'form', page: @page %>
  </main>

  <!-- Actions for medium and large viewports -->
  <%= render "edit_space_actions" %>
</div>

<script>
  $(function(){
    // Sticky sidebar
    $('.space-toc').stick_in_parent({
      offset_top: 60
    })

    // Update page tree toggles based on active page
    $('.page-tree__active').each(function() {
      // Show lists
      $(this).children('ul').show()
      $(this).parents('li').children('ul').show()

      // Update toggles
      $(this).children('.page-tree__toggle').addClass('page-tree__toggle--active')
      $(this).parents('li').children('.page-tree__toggle').addClass('page-tree__toggle--active')
    })

    // Listen for page tree toggle events
    $('.page-tree').on('click', '.page-tree__toggle', function(e) {
      // Toggle ul
      $(this).parent('li').children('ul').toggle()

      // Toggle class
      $(this).toggleClass('page-tree__toggle--active')
    })

    const statusMessage = new Spaces.PageStatusMessage({ attachTo: ".edit-toolbar__status" })

    new Spaces.Editor({ attachTo: '#page-editor',
                        statusMessage: statusMessage,
                        options: <%= editor_settings %> })

    new Spaces.PageTitle({ attachTo: '#title_input',
                           statusMessage: statusMessage,
                           page: new Spaces.Page(<%= page_settings %>)})

    const pageHierarchy = new Spaces.PageHierarchy(<%= page_hierarchy_settings %>)

    new Spaces.PageTree({
      container: $('.page-tree--edit'),
      onChange: function(hierarchy){
        // Remove all page toggles
        $('.page-tree__toggle').remove()

        // Add page toggles
        $('.page-tree li').each(function() {
          const ul = $(this).children('ul')
          let toggleClass = 'page-tree__toggle'

          if(ul.length > 0) {
            if(ul.is(':visible')) {
              toggleClass += ' page-tree__toggle--active'
            }

            $(this).append('<span class="' + toggleClass + '"></span>')
          }
        })

        const promise = pageHierarchy.update({ page_hierarchy: hierarchy })

        promise
          .then(response => console.log('Successfully updated page hierarchy'))
          .catch(error => Raven.captureException(error));
      }
    })
  })
</script>
