<% content_for :body_class, 'body-space body-space-edit' %>

<aside class="space-sidebar space-sidebar-edit">
  <h3>
    <%= link_to edit_space_path(@page.space) do %>
      <%= @page.space.name %><span></span>
    <% end %>
  </h3>

  <%= link_to(invitations_path, class: "avatars") do %>
    <% avatar_users.each do |user| %>
        <%= image_tag(user.avatar_url(:image_48), alt: user.name) %>
    <% end %>

    <% if number_of_unseen_avatars.positive? %>
        <span class="avatars-overflow">+<%= number_of_unseen_avatars %></span>
    <% end %>

    <span class="avatars-add"></span>
  <% end %>

  <ul class="space-sidebar-pages">
    <%= render "edit_page_tree", page_tree: @page.space.pages.hash_tree %>
  </ul>
</aside>

<div class="space-page-container">
  <main class="space-page space-page-edit">
    <%= render 'form', page: @page %>
  </main>
</div>

<div class="edit-toolbar">
  <%= link_to 'New page', space_pages_path(@page.space, params: { page: { title: "New Page"}}), method: :post, class: 'edit-toolbar-new-page' %>

  <!-- TODO: Toggle between Saving... and Saved -->
  <!-- <div class="edit-toolbar-status">
    Saved
  </div> -->
</div>

<script>
  $(function(){
    Spaces.Editor.init("#page-editor", <%= editor_settings %>);
  });
</script>
