<% content_for :body_class, 'body-space body-space-edit' %>

<aside class="space-sidebar space-sidebar-edit">
  <h3>
    <%= link_to edit_space_path(@page.space) do %>
      <%= @page.space.name %><span></span>
    <% end %>
  </h3>

  <%= render "avatar_users", avatar_users: @sample_users_query.sample_users,
                             number_of_hidden_avatars: @sample_users_query.users_not_in_sample_count  %>

  <ul class="space-sidebar-pages sortable">
    <%= render "edit_page_tree", page_tree: @page.space.pages.hash_tree %>
  </ul>
</aside>

<div class="space-page-container">
  <main class="space-page space-page-edit">
    <%= render 'form', page: @page %>
  </main>
</div>

<div class="edit-toolbar">
  <%= link_to 'New page', space_pages_path(@page.space, params: { page: { _: true } }), method: :post, class: 'edit-toolbar-new-page' %>

  <!-- TODO: Toggle between Saving... and Saved -->
  <!-- <div class="edit-toolbar-status">
    Saved
  </div> -->
</div>

<script>
  $(function(){

    Spaces.Editor.init("#page-editor", <%= editor_settings %>);

    window.Space = new Spaces.Space(<%= space_settings %>);


    $('.sortable').nestedSortable({
      handle: 'a',
      items: 'li',
      listType: 'ul',
      toleranceElement: '> a',
      isTree: true,
      relocate: function(){
        var hierarchy = $(this).sortable('toHierarchy');

        Space.update({ page_hierarchy: JSON.stringify(hierarchy) });
      }
    });



  });
</script>
