<% content_for :body_class, 'body-space body-space-edit' %>

<div class="clearfix" id="sticky-container">
  <div class="five-cols-1">
    <aside class="space-sidebar space-sidebar--edit">
      <h3>
        <%= link_to edit_space_path(@page.space) do %>
          <%= @page.space.name %><span></span>
        <% end %>
      </h3>

      <ul class="space-sidebar__pages">
        <%= render "edit_page_tree", page_tree: @page.space.pages.hash_tree %>
      </ul>
    </aside>
  </div>

  <div class="five-cols-3">
    <main class="space-page space-page--edit">
      <%= render 'form', page: @page %>
    </main>
  </div>
</div>

<script>
  $(function(){
    const pageSavingStatus = new Spaces.PageSavingStatus($(".edit-toolbar__status"));

    Spaces.Editor.init("#page-editor", pageSavingStatus, <%= editor_settings %>);

    const page = new Spaces.Page(<%= page_settings %>);
    const pageTitle = new Spaces.PageTitle($("#title_input"), page).init();

    const pageHierarchy = new Spaces.PageHierarchy(<%= page_hierarchy_settings %>);

    new Spaces.PageTree({
      container: $('.space-sidebar__pages'),
      onChange: function(hierarchy){
        const promise = pageHierarchy.update({ page_hierarchy: hierarchy });

        promise
          .then(response => console.log('Successfully updated page hierarchy'))
          .catch(error => Raven.captureException(error));
      }
    });
  });
</script>
