<% content_for :body_class, 'body-space' %>

<aside class="space-sidebar">
  <h3><%= link_to @page.space.name, space_pages_path(@page.space) %></h3>

  <ul>
    <li class="space-sidebar-active">
      <a href="#">Test Page</a>
    </li>

    <% @page.space.pages.each do |page| %>
    <li>
      <%= link_to page.title, page %>
    </li>
    <% end %>

    <li>
      <%= link_to '+ Add Page', new_space_page_path(@page.space) %>
    </li>
  </ul>
</aside>

<main class="space-page">
  <%= notice %>

  <h1><%= @page.title %></h1>
</main>

<div class="space-actions">
  <a href="#" class="button button-icon button-icon-members">Members</a>
  <%= link_to 'Edit Space', edit_page_path(@page), class: 'button button-icon button-icon-edit' %>
  <a href="#" class="button button-icon button-icon-share">Share</a>
</div>
