<!-- Table of contents and actions for small viewports -->
<div class="mobile-space-navigation">
  <a href="#mobile-space-navigation__content" class="mobile-space-navigation__toggle" aria-expanded="false" aria-controls="navigation">
    <%= current_space.name %>
  </a>

  <nav class="mobile-space-navigation__content" id="mobile-space-navigation__content">
    <ul class="page-tree">
      <%= render "page_tree", page_tree: current_space.pages.hash_tree %>
    </ul>
  </nav>
</div>

<!-- Table of contents for medium and large viewports -->
<nav class="space-toc" id="space-toc">
  <h3><%= link_to current_space.name, space_pages_path(current_space) %></h3>

  <ul class="page-tree">
    <%= render "page_tree", page_tree: current_space.pages.hash_tree %>
  </ul>

  <div class="space-toc__actions">
    <%= link_to space_pages_path(@page.space, params: { page: { _: true } }), method: :post, class: "space-toc__new-page" do %>
      New page
    <% end %>
  </div>
</nav>

<!-- Page content for all viewports -->
<main class="space-page">
  <%= render "page_contents", page: @page, notice: notice %>
</main>

<script>
  // Sidebar custom scroll
  const scrollSidebar = new Spaces.SpaceSidebar()

  $(function() {
    // Event handler for the space navigation toggle on smaller viewports
    $('.mobile-space-navigation__toggle').on('click', function(e) {
      e.preventDefault()
      $('.mobile-space-navigation__toggle').toggleClass('mobile-space-navigation__toggle--open')
      $('.mobile-space-navigation__content').stop().fadeToggle()
      $('body').toggleClass('body--mobile-no-scroll')
    })
  })
</script>
