<!-- Space table of contents and actions for smaller viewports -->
<div class="mobile-space-navigation">
  <a href="#mobile-space-navigation__content" class="mobile-space-navigation__toggle" aria-expanded="false" aria-controls="navigation">
    <%= current_space.name %>
  </a>

  <nav class="mobile-space-navigation__content" id="mobile-space-navigation__content">
    <ul class="toc-pages">
      <%= render "page_tree", page_tree: current_space.pages.hash_tree %>
    </ul>

    <ul class="mobile-space-navigation__actions">
      <%= render "space_actions" %>
    </ul>
  </nav>
</div>

<!-- Space table of contents for larger viewports -->
<aside class="space-toc space-aside">
  <nav>
    <h3><%= link_to current_space.name, space_pages_path(current_space) %></h3>

    <ul>
      <%= render "page_tree", page_tree: current_space.pages.hash_tree %>
    </ul>
  </nav>
</aside>

<!-- Page content for all viewports -->
<main class="space-page">
  <%= render 'page_contents', page: @page, notice: notice %>
</main>

<!-- Space actions for larger viewports -->
<aside class="space-actions space-aside">
  <ul>
    <%= render "space_actions" %>
  </ul>
</aside>


<!-- <script>
  $(function(){
    // Sticky sidebar
    $('.space-sidebar').stick_in_parent({
      parent: '#sticky-container',
      offset_top: 36
    })
  })
</script> -->
