<!-- Table of contents and actions for small viewports -->
<div class="mobile-space-navigation">
  <a href="#mobile-space-navigation__content" class="mobile-space-navigation__toggle" aria-expanded="false" aria-controls="navigation">
    <%= current_space.name %>
  </a>

  <nav class="mobile-space-navigation__content" id="mobile-space-navigation__content">
    <%= render "page_tree", page_tree: current_space.pages.hash_tree %>

    <%= render "space_actions" %>
  </nav>
</div>

<div class="clearfix" id="sticky-container">
  <!-- Table of contents for medium and large viewports -->
  <nav class="space-toc">
    <h3><%= link_to current_space.name, space_pages_path(current_space) %></h3>

    <%= render "page_tree", page_tree: current_space.pages.hash_tree %>
  </nav>

  <!-- Page content for all viewports -->
  <main class="space-page">
    <%= render "page_contents", page: @page, notice: notice %>
  </main>

  <!-- Actions for medium and large viewports -->
  <%= render "space_actions" %>
</div>

<script>
  $(function() {
    // Event handler for the space navigation toggle on smaller viewports
    $('.mobile-space-navigation__toggle').on('click', function(e) {
      e.preventDefault()
      $('.mobile-space-navigation__toggle').toggleClass('mobile-space-navigation__toggle--open')
      $('.mobile-space-navigation__content').stop().fadeToggle()
    })
  })
</script>

<script>
  $(function(){
    // Sticky sidebar
    $('.space-toc').stick_in_parent({
      offset_top: 60
    })
  })
</script>
