<%= form_for(invitation_form, url: team_invitations_path) do |f| %>
  <% if invitation_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitation_form.errors.count, "error") %> prohibited this invitation from being send:</h2>

      <ul>
      <% invitation_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </span>

  <span class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, placeholder: "Optional" %>
  </span>

  <span class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, placeholder: "Optional" %>
  </span>

  <div class="actions">
    <%= f.submit "Create Invitation" %>
  </div>
<% end %>
