<p id="notice"><%= notice %></p>

<h1>Invitations</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team.invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.email %></td>
        <td><%= link_to 'Destroy', invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form', invitation_form: @invitation_form %>

<% result = Slack::FetchTeamMembers.call(team: @team) %>

<% if result.success? %>
  <% result.team_members.each do |team_member| %>

    <%= image_tag(team_member.image) %>
    <p><%= team_member.full_name %></p>
    <p><a><%= team_member.email %></a></p>

  <% end %>
<% else %>
  <%= link_to "Slack Button", user_slack_button_omniauth_authorize_url(state: team_invitations_url(@team)) %>
<% end %>



<p>
<%= link_to 'Back', team_path(@team) %>
</p>
