<main>
  <div class="card">
    <header>
      <h1>Invitations</h1>
    </header>

    <div class="card__content">
      <%= notice %>

      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @team.invitations.unused.each do |invitation| %>
            <tr>
              <td><%= invitation.email %></td>
              <td><%= link_to "Destroy", invitation, method: :delete, data: { confirm: "Are you sure?" } %></td>
              <td><%= link_to "Resend", send_invitation_path(invitation) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= render 'form', form: @invitation_form %>


      <% if @team.connected_to_slack? %>
        <% @slack_users_to_invite.each do |slack_user| %>
          <%= render "slack_user_to_invite", slack_user: slack_user %>
        <% end %>
      <% else %>
        <%= link_to "Add Slack Team-Members", user_slack_button_omniauth_authorize_url(subdomain: ENV["DEFAULT_SUBDOMAIN"], team_id: @team.id) %>
      <% end %>


      <div class="card__actions">
        <%= link_to 'Back to Team', team_path %>
      </div>
    </div>
  </div>
</main>
