<p id="notice"><%= notice %></p>

<h1>Invitations</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team.invitations.unused.each do |invitation| %>
      <tr>
        <td><%= invitation.email %></td>
        <td><%= link_to 'Destroy', invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= render 'form', invitation_form: @invitation_form %>


<% if @team.connected_to_slack? %>
  <% @slack_users_to_invite.each do |slack_user| %>
    <%= render "slack_invitation_user", slack_user: slack_user %>
  <% end %>
<% else %>
  <%= link_to "Slack Button", user_slack_button_omniauth_authorize_url(subdomain: ENV["DEFAULT_SUBDOMAIN"], team_id: @team.id) %>
<% end %>

<p>
<%= link_to 'Back', team_path %>
</p>
