<%= link_to "Allow all Team Members", space_access_control_path(@space, space: { access_control: Space::AccessControl::TEAM }), method: :patch, data: { confirm: "Are you sure?" } %>

<p>Space Members</p>
<%= render "space/members/private/space_members", space_team_members: space_team_members,
                            team_members: team_members %>

<p>Send Invitations</p>
<%= render "space/members/private/invitations", invitations: space_invitations.unused %>

<p>Space Invitations</p>
<%= link_to "Add email invitation", new_space_invitations_email_path(@space) %>

<%= link_to "Add slack invitation", new_space_invitations_slack_path(@space) %>
