<main>
  <div class="card">
    <header>
      <h1><b>3/3</b> | Login with your email address</h1>
    </header>

    <div class="card-content">

      <p>Login with your email address: <b><%= @email_login_form.email %></b></p>

      <%= form_for(@email_login_form, url: email_login_path) do |f| %>

        <% if @email_login_form.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @email_login_form.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :email %>

        <%= f.password_field :password, autocomplete: "off", placeholder: :password %>

        <%= submit_tag 'Login with my account' %>

      <% end %>

      <div class="card-actions">
        <p>
          <%= link_to "I Forgot my password, I want to reset it", new_login_register_funnel_reset_password_path(email: @email_login_form.email)  %>
        </p>

        <%= link_to "Back", new_review_email_address_path %>
      </div>
    </div>
  </div>
</main>
