<main>
  <div class="card">
    <header>
      <h1><b>3/3</b> | Register with your email address</h1>
    </header>

    <div class="card-content">
      <% resource = User.new %>

      <%= form_for(resource, url: user_registration_path) do |f| %>


        <%= f.hidden_field :email, value: params[:email] %>

        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>

        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>

        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>


     <%= submit_tag 'Create my account' %>

      <% end %>

      <div class="card-actions">
        <%= link_to "Back", choose_sign_in_method_path %>
      </div>
    </div>
  </div>
</main>
