<header class="topbar">
  <a href="#overlay--teams-accounts" class="topbar__teams-accounts overlay__toggle" aria-expanded="false" aria-controls="overlay--teams-accounts">
    <%= image_tag current_team.logo_url(:image_72), alt: current_team.name, class: "team-icon team-icon--medium" %>
    <h3>
      <%= current_team.name %>
    </h3>

    <p>
      <%= current_user.first_name %>
    </p>
  </a>

  <form action="<%= search_page_path %>" method="get" class="topbar__search">
    <input type="text" name="q" value="<%= @search_query %>" placeholder="Search" tabindex="1">
  </form>

  <a href="#overlay--share" class="topbar__share button button--small button--primary overlay__toggle" aria-expanded="false" aria-controls="overlay--share">Share</a>

  <a href="#" class="topbar__support drift-open-chat tippy" title="Support" data-distance="11"></a>

  <a href="#overlay--spaces" class="topbar__spaces overlay__toggle" aria-expanded="false" aria-controls="overlay--spaces">Spaces</a>
</header>
