<!doctype html>
<html class="" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Describe Spaces here.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <title>Spaces: Knowledge Management for Teams</title>

    <link rel="icon" href="">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7058934/7767372/css/fonts.css" />
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body class="body-no-topbar <%= content_for :body_class %>">
    <% if notice %>
      <div class="message message-notice"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="message message-alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
