<!doctype html>
<html class="" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Describe Spaces here.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <title>Spaces: Knowledge Management for Teams</title>

    <link rel="icon" href="">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7058934/7767372/css/fonts.css" />
    <%= stylesheet_link_tag fingerprinted_asset("application"), media: 'all' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atom-one-light.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>



    <script>hljs.initHighlightingOnLoad();</script>

    <%= javascript_include_tag fingerprinted_asset("application") %>
    <%= javascript_include_tag fingerprinted_asset("jquery.mjs.nestedSortable.js") %>
    <%= render "layouts/google_analytics" %>
  </head>

  <body class="<%= content_for :body_class %>">
    <header class="topbar">
      <nav>
        <ul>
          <li>
            <%= link_to image_tag(current_team.logo_url(:image_72), alt: current_team.name) + 'Team', team_url(subdomain: current_team.subdomain), class: 'topbar-team' %>
          </li>

          <li>
            <%= link_to(spaces_path, class: 'topbar-spaces') do %>
              <span></span>Spaces
            <% end %>
          </li>
        </ul>
      </nav>

      <%= link_to image_tag(current_user.avatar_url(:image_72), alt: current_user.first_name), edit_user_path, class: 'topbar-account' %>

      <input type="text" placeholder="Search" class="topbar-search" tabindex="1">
    </header>

    <% if notice %>
      <div class="message message-notice"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="message message-alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
