<!doctype html>
<html class="" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Describe Spaces here.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <title>Spaces: Knowledge Management for Teams</title>

    <link rel="icon" href="">
    <%= render "layouts/fonts" %>
    <%= stylesheet_pack_tag "application", media: 'all' %>

    <%= javascript_pack_tag "vendor" %>
    <%= javascript_pack_tag "application" %>
    <%= render "layouts/google_analytics" %>
    <%= render "layouts/sentry" %>
    <%= render "layouts/drift" %>
    <%= render "layouts/amplitude" %>
  </head>

  <body class="<%= content_for :body_class %>">

    <!-- Main navigation for smaller viewports -->
    <%= render "layouts/mobile_navigation" %>

    <!-- Main navigation for larger viewports -->
    <%= render "layouts/topbar" %>

    <!-- Overlays -->
    <%= render "layouts/overlay_teams_and_accounts" %>
    <%= render "layouts/overlay_spaces" %>
    <%= render "layouts/overlay_share" %>

    <% if notice %>
      <div class="message message--notice"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="message message--alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
