<!doctype html>
<html class="" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Describe Spaces here.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <title>Spaces: Knowledge Management for Teams</title>

    <link rel="icon" href="">
    <%= stylesheet_link_tag fingerprinted_asset("application"), media: 'all' %>

    <%= javascript_include_tag fingerprinted_asset("vendor") %>
    <%= javascript_include_tag fingerprinted_asset("application") %>
    <%= render "layouts/google_analytics" %>
    <%= render "layouts/drift" %>
    <%= render "layouts/myfonts" %>
  </head>

  <body class="<%= content_for :body_class %>">
    <header class="topbar">
      <div class="container">
        <div class="five-cols-1">
          <%= link_to image_tag(current_team.logo_url(:image_72), alt: current_team.name), team_url(subdomain: current_team.subdomain), class: 'topbar-logo' %>
        </div>

        <div class="five-cols-4">
          <input type="text" placeholder="Search" class="topbar-search" tabindex="1">

          <%= link_to image_tag(current_user.avatar_url(:image_72), alt: current_user.first_name), edit_user_path, class: 'topbar-account' %>

          <nav>
            <ul>
              <li>
                <%= link_to 'Team', team_url(subdomain: current_team.subdomain), class: 'topbar-team' %>
              </li>

              <li>
                <%= link_to 'Spaces', spaces_path, class: 'topbar-spaces' %>
              </li>

              <li>
                <a href="#" class="topbar-support drift-open-chat">Help</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <% if notice %>
      <div class="message message-notice"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="message message-alert"><%= alert %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
